<html>
  <head>
    <title>Timear Flow</title>
    <meta name="description" content="A timer that eliminates the anxiety of a ticking clock so you can remain in a flow state, longer." />
    <style type="text/css">
      body { margin: 0; }
      #timear {
        height: 100vh;
        width: 100vw;
      }
    </style>
  </head>
  <body>
    <div id="timear"></div>
  </body>
</html>